body {
  background-color: aquamarine;
  padding: 0;
  margin: 0;
  text-align: center;
  min-height: 400px;
  margin-bottom: 180px;
  clear: both;
  font-family: 'Courier New', Courier, monospace;
}

.navigation{
  background-color: cadetblue;
  display: flex;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item{
  margin: 1em;
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item a:hover{
  color: aliceblue;
  background-color: aquamarine;
  
}

footer {
  width: 100%;
  color: aliceblue;
  background-color: cadetblue;
  padding: 20px;
  position: fixed;
  left: 0px;
  bottom: 0px;
}
